<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Simple Login Form Example</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<!-- partial:index.partial.html -->
<div class="login-form">
  <form action="/" method="post">
    <h1>Register</h1>
    <div class="content">
      <div class="input-field">
        <input type="email" placeholder="Email" autocomplete="new-password" name="MailAdress" id="MailAdress">
      </div>
      <div class="input-field">
        <input type="text" placeholder="Password" name="Name" id="Name">
      </div>
      <a href="#" class="link">Forgot Your Password?</a>
    </div>
    <div class="action">
      <button type="submit">Register</button>
    </div>
  </form>
  {% if message %}
    <p class='message'>{{message}}</p>
  {% else %}
  {% endif %}
</div>
<!-- partial -->
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
